# Telegram Bot Token
TELEGRAM_BOT_TOKEN=8555470613:AAEfKahMmG7_e7K2BgSyfN5DP-wT0LUhZTQ

# Firebase Database URL
FIREBASE_DATABASE_URL=https://boevik-1e8c3-default-rtdb.europe-west1.firebasedatabase.app/

# Firebase Service Account (Required for production)
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# Admin Username (without @)
ADMIN_USERNAME=Trim_peek
